version: '3.8'

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8081:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
      - ./.wwebjs_auth:/app/.wwebjs_auth # Persist session
    environment:
      - NODE_ENV=development
